.main-screen {
  width: 100%;
  height: 100vh;
  background: rgba(1, 3, 43, 1);
  color: white;
}

.logo_maruti {
  width: 20%;
  margin-top: 2%;
  margin-left: 2%;
  cursor: pointer;
}

.main-heading {
  justify-content: center;
  text-align: center;
}
.heading {
  color: rgba(255, 255, 255, 1);
  margin-left: 150px;
  line-height: 81.36px;
  width: 956px;
  height: 81px;
  margin-top: 10%;
  font-family: Inter;
  font-size: 72px;
  font-weight: 200;
  line-height: 81px;
  letter-spacing: 0em;
  text-align: center;
}
.subHeading {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  letter-spacing: 0em;
}
.subText {
  margin-top: 10%;
}

.arrow {
  cursor: pointer;
  width: 60px;
  height: 60px;
}
