.d_flex {
  display: flex !important;
}
.d_inline_block {
  display: inline-block !important;
}

.dashboard-page {
  width: 100%;
  /* padding: 30px; */
}
.dashboard-page .page-header {
  width: 100%;
  display: flex;
  justify-content: left;
  margin: 20px 0px;
}

.dashboard-page .page-header .header {
  font-size: 28px;
  font-weight: 600;
  margin-left: 0px;
}

.page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.page-content .top-block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.page-content .top-block .map-and-options-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

iframe {
  width: 100%;
  height: 400px;
  /* filter: invert(100%); */
}

.map-and-options-block .map {
  width: 100%;
  border: 1px solid #535353;
  border-radius: 5px;
  /* transform: rotate(90deg); */
}

.map-and-options-block .btn-block {
  width: 20%;
  width: 20%;
  align-items: end;
  display: flex;
  align-content: center;
  justify-content: end;
  flex-wrap: wrap;
}
.map-and-options-block .btn {
  width: 200px;
  width: 200px;
  font-size: 12px;
  height: auto;
  padding: 15px;
  color: #000000;
  font-weight: 600;
  border: 1px solid #000000;
}

.info-cards-block {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 25px;
  flex-direction: row;
  justify-content: space-between;
}
.info-cards-block .card {
  flex-grow: 1;
  width: 20%;
  border-radius: 5px;
  border: 1px solid gray;
  margin-right: 10px;
  display: block;
  flex-wrap: wrap;
  color: gray;
  background-color: rgba(83, 83, 83, 0.1);
  font-weight: 500;
  font-size: 12px;
  align-content: center;
  padding: 2px;
  margin-bottom: 10px;
  font-size: 17px;
  justify-content: center;
}

.info-cards-block .card .card_text {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  margin-bottom: 5px;
}

.info-cards-block .card .card_number {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-size: 30px;
  margin: 0px 10px;
}

.info-cards-block .card.red {
  border: 1px solid red;
  background: rgba(236, 73, 73, 0.1);
}

.info-cards-block .card.red .card_number {
  color: red;
}

.info-cards-block .card.green {
  border: 1.5px solid green;
  background: rgba(62, 165, 36, 0.1);
}

.info-cards-block .card.green .card_number {
  color: green;
}

.info-cards-block .card.amber {
  border: 1px solid #f4d21a;
  background-color: rgba(244, 210, 26, 0.1);
}

.info-cards-block .card.amber .card_number {
  color: #f4d21a;
}

.table-block {
  width: 100%;
  margin-bottom: 30px;
}
.table-block .table-title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.table-title .title {
  font-size: 14px;
}

.table-title .view-all {
  font-size: 14px;
  text-decoration: underline;
}

.table_wrapper {
  width: 100%;
  overflow-x: auto;
}

.table_wrapper table.data-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
}

.table_wrapper .data-table td,
th {
  border: none;
  text-align: left;
  padding: 8px;
}

.table_wrapper .data-table tr:nth-child(even) {
  background-color: #f4f4f4;
}

.table_wrapper td.table-cell {
  text-align: left;
}

.table_wrapper td.table-cell.text-center {
  text-align: center;
}
.table_wrapper td.table-cell.area-cell {
  text-align: left;
}

.table_wrapper .table-cell .btn {
  width: 100px;
  padding: 10px;
  border: 1px solid #2d3394;
  color: #2d3394;
  margin-top: 0px;
  cursor: pointer;
}

.table_wrapper .table-cell .highlight-text {
  font-weight: 600;
}

.table_wrapper .table-cell .highlight-text.bold {
  font-weight: 800;
}

.table_wrapper .table-cell .highlight-text.blue {
  color: #6a70c5;
}

.table_wrapper .table-cell .highlight-text.red {
  color: red;
}

.table_wrapper td.table-cell.date-cell .start-date {
  margin-right: 5px;
}

.table_wrapper td.table-cell.date-cell .end-date {
  margin-left: 5px;
}

.table_wrapper td.table-cell.area-cell .area {
  font-weight: 600;
  margin-bottom: 5px;
  width: 100%;
  display: block;
}

.table_wrapper td.table-cell .dot {
  width: 15px;
  height: 15px;
  display: inline-block;
  background-color: gray;
  border-radius: 50%;
}

.table_wrapper td.table-cell .dot.red {
  background: red;
}

.table_wrapper td.table-cell .dot.green {
  background: green;
}

.table_wrapper td.table-cell .dot.amber {
  background: yellow;
}

@media only screen and (max-width: 1024px) {
  .info-cards-block .card {
    width: 40%;
  }
}

@media only screen and (max-width: 820px) {
  .info-cards-block .card {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  .info-cards-block .card {
    width: 40%;
  }
}
