.table-container {
    margin: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
  }
  
  th,
  td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  select {
    margin-left: 5px;
  }
  
  button {
    cursor: pointer;
  }
  