.container-body {
  height: 90vh;
  width: 100vw;
  overflow-x: hidden;
  background-image: url("../../assets/Background Group.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #f3f6f9;
  background-position: center;
}
.container-body h4 {
  margin-left: 25px;
  margin-bottom: 120px;
  margin-top: 20px;
}

.card-container-home {
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  gap: 20px;
  margin: 20px 20px;
}

.cardNew {
  display: flex;
  overflow: hidden;
  width: 575px;
  height: 180px;
  border-radius: 15px;
  /* background-color: #335c67; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.arrow-icon {
  margin-left: 5%;
  opacity: 0.8;
}
.image {
  margin-top: 10%;
  width: 40% !important;
  /* border: 2px solid orange; */
}
.text-content {
  width: 75%;
  margin-top: 5%;
  height: 27px;
  margin-left: 5%;
}

.text-content h2 {
  color: #fff;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.text-content p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.text-content a {
  font-family: Inter;
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-decoration: none;
  text-align: left;
  color: white;
}

.icon-text-container {
  display: flex;
  align-items: center;
}
.icon-undeline {
  position: absolute;
  margin-top: 20px;
  margin-left: -9px;
}

.icon-text-container a {
  font-family: Inter;
  font-size: 15px;
  font-weight: 300;
  line-height: 17px;
  letter-spacing: 0em;
  text-decoration: none;
  text-align: left;
  color: white;
  z-index: 5;
}
.link {
  font-family: Inter;
  font-size: 15px;
  font-weight: 300;
  opacity: 0.8;
  line-height: 17px;
  letter-spacing: 0em;
  text-decoration: none;
  text-align: left;
  color: white !important;
  z-index: 5;
}
